body {
    font-family: 'DM Sans', sans-serif;
}

.header {
    background-color: rgba(255, 113, 67, .27);
    padding: 40px 0px 40px;
    font-family: 'DM Sans', sans-serif;
        
}
.container {
    width: 1070px;
    margin: 0 auto;
}
.header__flex, .footer__flex, .about, .subscribe, .plan__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__li {
    display: inline-block;
}

.nav__li:not(:first-of-type){
    margin-left: 49px;
}

.nav__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav__link:hover{
    color: #000;
    transition: 300ms;
}

.btn{
    width: 212px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.btn__fill__orange{
    background-color: #FF7143;
    color: white;
}
.btn__fill__orange:hover{
        background-color: #9F3919;
        transition: 500ms;
}

.about {
    margin: 105px auto 85px;
}
.about__title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191b;
    max-width: 467px;
    margin-bottom: 40px;
}

.about__text{
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464px;
    margin-bottom: 60px;
}

.btn__fill__violet {
    background-color: #5454D4;
    margin-right: 36px;
}
.btn__fill__violet:hover{
    background-color: #0d0d5b;
    transition: 500ms;
}

.btn__outline{
    background-color: transparent;
    border-color: #5454D4;
    border: 1px solid #5454D4;
    color: #5454D4;
    }
.btn__outline:hover{
    background-color: #c5c5fa;
    transition: 500ms;
}

.subscribe {
    margin-bottom: 85px;
}

.subscribe__title {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #19191B;
    margin-bottom: 38px;
}

form {
    display: inline;
}

.input {
    box-sizing: border-box;
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    padding-left: 14px;
    margin-right: 39px;
}

.input::placeholder,
.input {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000;
}

.input:focus {
    outline: none;
}

.secondman img {
    width: 348.5px;
}

.plan {
    margin-bottom: 132px;
}

.plan__title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
}

.item {
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 30px 0;
}

.item:hover {
    transition: 500ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}

.item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.562737px;
    color: #696871;
}

.item:hover .item__text, .item:hover .item__title, .item:hover .item__li{
    color: white;
    transition: 500ms;
}

.item__title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 28px 0;
}

.item__title span {
    font-size: 28px;
}

.footer{
    background-color: rgba(255, 113, 67, .27);
    padding: 53px 0px 53px;
}
.last__container {
    width: 1070px;
    margin: 0 auto;
    display: flex;
}

.item__li {
    list-style: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
    text-align: center;
}

.btn__item {
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    color: #5454D4;
    width: 285px;
    margin-top: 40px;
}
.item:hover .btn__item{
    background: #9F3919;
    border: none;
    color: white;
    transition: 500ms;
}

@media screen and (max-width: 550px){
.container, .last__container {max-width: 375px}
.nav, .btn__fill__orange {display:none}
.header__flex, .footer__flex {justify-content: center;}
.about {flex-direction:column; text-align: center;}
.about__title {font-size: 60px; line-height: 60px;}
.btn {width: 100%;}
.btn__outline {margin-left: 0px; margin-top: 30px;}
.about img {width: 100%; margin-top: 30px;}
.subscribe {flex-direction: column-reverse;}
.subscribe__title {text-align: center; font-size: 30px; line-height: 30px;}
.input {width: 100%; margin-bottom: 30px;}
.firstman, .secondman {margin-top: 40px;}
.plan__title {text-align: center; font-size: 40px; line-height: 40px;}
.plan__flex {flex-direction: column;}
.item:not(:last-of-type) {margin-bottom: 30px;}
.item .btn {width: 80%;}
.footer {flex-direction: column;}
}
